.aboutUsCard__container {
    text-align: left;
    border-bottom: 1px solid lightgray;
    margin: 20px 0;
}

.aboutUsCard__title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.aboutUsCard__title {
    padding: 5px 10px;
    border-radius: 8px;
}

.aboutUsCard__arrow svg {
    transition: transform 0.2s ease-in-out;
  }
  
.aboutUsCard__arrow svg.rotated {
    transform: rotate(180deg);
  }

.aboutUsCard__content .action_hover {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}


.aboutUsCard__content {
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
  }
  
  .aboutUsCard__content-collapsed {
    max-height: 0;
  }
  
  .aboutUsCard__content-expanded {
    max-height: 500px;
    transition-delay: 0.4s;
  }

  .aboutUsCard__content h6 {
    margin-right: 8px;
  }