.aboutUsCard__container {
    text-align: left;
    border-bottom: 1px solid lightgray;
    margin: 20px 0;
}

.aboutUsCard__title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.aboutUsCard__title {
    padding: 5px 10px;
    border-radius: 8px;
}


.aboutUsCard__content .action_hover {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}