.aboutUsCard__container {
    /* border: 1px solid blue; */
    text-align: left;
    border-bottom: 1px solid lightgray;
    margin: 20px 0;
}
.aboutUsCard__title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.aboutUsCard__title {
    background-color: var(--light-blue);
    padding: 5px 10px;
    border-radius: 8px;
}