.hero__container {
    min-height: 500px;
    height: 98vh;
    position: relative;
    /* display: flex;
    flex-direction: column; */
    /* border: 1px solid red; */
}
.hero__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 45%, var(--white) 75%),
        url("/images/hero_background_2.jpg");
    background-size: cover;
    background-position: top right;
    /* filter: brightness(0.3);  */
    /* z-index: -1; */
    
}


.hero__content {
    padding: var(--padding-sections);
    color: var(--black);
    position: relative; 
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    
}

.hero__text_container h1{
    margin-bottom: 20px;
    line-height: 1.4;
}
.hero__text_container div{
    line-height: 1.8;
}

/* .hero__text_container{ */
    /* margin-top: 30px; */
    /* flex-grow: 2; */
/* } */


.hero__action_button {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
}

.hero__action_button button {
    width: 50%;
    border: none;
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
}

.button_primary button {
    background-color: var(--main-blue);
    /* margin-bottom: 0; */
}
.button_primary button:hover {
    background-color: var(--main-blue);
    filter: brightness(130%);
    transition: filter 0.3s ease-in-out;
    color: var(--black);
}
.button_secondary {
    margin-top: 1rem;
}

.button_secondary button {
    background-color: transparent;
    border: 3px solid var(--main-blue);
    color: var(--white);
    
}
.button_secondary button:hover {
    background-color: var(--main-blue);
    transition: background-color 0.3s ease-in-out;
    border: 3px solid var(--main-blue);
    color: var(--black);
}