.hero__container {
    background-color: var(--light-blue);
    padding: var(--padding-sections); 
    padding-top: 0px; 
    min-height: 92vh;
    /* border: 1px solid grey; */
}



.hero__image_container {
    /* width: 100%;
    height: 100%; */
    /* overflow: hidden; */
    text-align: right;
    /* border: 1px solid red; */
    margin-top: 40px;
}

.hero__image_container img {
    width: 90%;
    /* object-fit: contain; */

}

.hero__action_button {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
}

.hero__action_button button {
    width: 100%;
    /* background-color: transparent; */
    background-color: var(--green);
    /* border: 2px solid var(--main-blue); */
    border: none;
    color: var(--black);
    padding: 10px;
    border-radius: 10px;
}

.hero__action_button button:hover {
    /* background-color: var(--orange) 0.5; */
    background-color: var(--green);
    /* border: 2px solid var(--main-blue); */
    transition: filter 0.3s ease-in-out;
    filter: brightness(110%);
    color: var(--black);
}