.hero__container {
    min-height: 500px;
    height: 97vh;
    padding: var(--padding-sections);
    padding-left: var(--padding-sides);
    padding-right: var(--padding-sides);

}
.hero__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97vh;
    background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0) 75%, rgba(20, 20, 20, 0.7) 100%),
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 45%, var(--white) 75%),
        url("/images/hero_background_2.jpg");
    background-size: cover;
    background-position: top right;
}


.hero__content {
    position: relative; 
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;

}

.hero__body {
    width: 100%;
    height: 100%;
}

.hero__text_container h1{
    margin-bottom: 20px;
}
.hero__text_container div{
    line-height: 1.8;
}


.hero__action_button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
}

.hero__action_button button {
    width: 50%;
    border: none;
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
}

.button_primary button {
    background-color: var(--main-blue);
}
.button_primary button:hover {
    background-color: var(--main-blue);
    filter: brightness(120%);
    transition: filter 0.3s ease-in-out;
    color: var(--black);
}

@media (min-width: 768px) {

    .hero__container::before {
        width: 70vw;
        right: 0;
        left: auto;
        background-image: 
        linear-gradient(to left, rgba(255, 255, 255, 0) 50%, var(--white) 100%),
        linear-gradient(to top, rgba(255, 255, 255, 0) 75%, rgba(20, 20, 20, 0.7) 100%),
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, var(--white) 100%),
        url("/images/hero_background_2.jpg");
    }

    .hero__content {
        justify-content: center;
        width: 50vw;
    }
    .hero__action_button {
        justify-content: flex-start;
    }

}
@media (min-width: 1024px) {
    .hero__container::before {
        width: 60vw;
    }
}