.aboutUs__container {
    display: flex;
    flex-direction: column;
    text-align: center;    
    padding: var(--padding-sections);
    padding-left: var(--padding-sides) !important;
    padding-right: var(--padding-sides) !important;

}

.aboutUs__body {
    max-width: var(--max-width);
    margin: auto;
}

.about__text_container {
    margin-bottom: 40px;
}

.about__image_container img {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    border: 12px solid var(--red);
    margin-bottom: 20px;
    filter: saturate(0.8)
}

.aboutUs__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



@media (min-width: 768px) {
    .aboutUs__content {
        flex-direction: row-reverse;
    }
    .about__image_container {
        width: 100%;
        margin: auto;
    }
    .about__cards_container {
        width: 100%;
    }
    

}