.aboutUs__container {
    padding: var(--padding-sections);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.about__text_container {
    margin-bottom: 40px;
}

.about__image_container img {
    width: 100%;
    border-radius: 20px;
    border: 12px solid var(--red);
    margin-bottom: 20px;
    filter: saturate(0.8)
}

.aboutUs__content {
    display: flex;
    flex-direction: column;
}



@media (min-width: 768px) {
    .aboutUs__content {
        flex-direction: row-reverse;
    }
    .about__image_container {
        width: 100%;
    }
    .about__cards_container {
        width: 100%;
    }

}