.instructions__container {
    padding: var(--padding-sections);
    padding-top: 20px;
    padding-bottom: 20px;
}

.instructions__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.instructions__title svg {
    transition: transform 0.3s ease-in-out;
  }
.instructions__title svg.rotated {
    transform: rotate(180deg);
  }

.instructions__content {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .instructions__content--collapsed {
    max-height: 0;
  }
  
  .instructions__content--expanded {
    max-height: 500px;
  }