.navbar__container {
    top: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100%;
    padding-left: var(--padding-sides) !important;
    padding-right: var(--padding-sides) !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    transition: all 0.7s ease;
    background-color: none;

}

.navbar--fixed {
    background-color: var(--main-blue);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: fixed !important;
    top: 0;
    left: 0;
}

.navbar--fixed .navbar-brand img {
    border: none !important;
    filter: invert(96%) sepia(18%) saturate(372%) hue-rotate(355deg) brightness(118%) contrast(99%) !important;
    
    height: 4vw;
    max-height: 61px;
    min-height: 42px;
}

.container-fluid {
    --bs-gutter-x: 0 !important;
}

.navbar-nav {
    list-style-type: none;
}

.navbar-nav a {
    text-decoration: none;
    color: inherit;
}

.navbar-nav .nav-item{
    width: 120px;
    
}

.navbar-brand {
flex-grow: 3;
}
.navbar-brand img {
    height: 5vw;
    max-height: 70px;
    min-height: 52px;
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 2px 6px;
    margin-left: -11px;
    transition: all 0.7s ease;
}

.nav-link {
    color: var(--white) !important;
}

.navbar button {
    border: none;
}

.navbar-toggler-icon {
    font-size: 1rem;
    filter: invert(96%) sepia(18%) saturate(372%) hue-rotate(355deg) brightness(118%) contrast(99%);
}

.navbar .container-fluid {
    align-items: center !important;
}


/* The Overlay (background) */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: var(--main-blue);
    overflow: hidden;
    transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a,
.overlay p {
    padding: 4px;
    text-decoration: none;
    color: var(--white);
    display: block;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 3rem;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: var(--orange) !important;
}

.overlay .fa-ko-fi::after {
    color: var(--main-blue) !important;
    ;
}


/* Position the close button (top right corner) */
.overlay .closebtn {
    text-align: right;
    font-size: 32px;
    margin-right: 24px;
    margin-top: 11px;
}

.overlay__social-media {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.overlay__social-media .icon__social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-bottom: 50px;
}


@media (min-width: 768px) {
    .navbar-brand img {
        border: none !important;
    }
}