.practicePlayerContainer__container {
    padding: var(--padding-sections);
    /* padding-top: 0px; */
    padding-left: var(--padding-sides) !important;
    padding-right: var(--padding-sides) !important;
    padding-bottom: 140px;

}