.sidebar {
  width: 26vw;
  max-width: 250px;
  background-color: var(--white);
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;

}

.sidebar.compact {
  width: 60px;
  /* padding: 10px; */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .toggle-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  /* background-color: #007bff; */
  color: var(--black);
  cursor: pointer;
  text-align: center;
}

.sidebar .toggle-button:hover
{
  background-color: var(--light-blue);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .sidebar {
height: calc(53vw - 136px);
min-height: 292px;
max-height: 534px;
}
}

@media (max-width: 768px) {
  .sidebar {
    height: 0px;
    width: 0px;
    padding: 0px
  }

  .sidebar .toggle-button {
    display: none;
  }

  /* When sidebar is overlayed */
  .sidebar.sideOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    height: 100%
      /* transition: width 0s ease-in; */
  }

  .sidebar:not(.sideOverlay) {
    transition: none;
  }



}