.sidebar {
    width: 200px;
    /* height: 100vh; */
    background-color: #f0f0f0;
    padding: 20px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar.compact {
    width: 60px;
    padding: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .toggle-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }
  
  /* @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  } */

  /* When sidebar is overlayed */
.sidebar.sideOverlay {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateX(-50%); */
  width: 200px; /* Can be adjusted */
  z-index: 1000;
  /* background: rgba(240, 240, 240, 0.95); */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
  /* padding: 20px; */
}