:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --main-blue:#658cc2;
  --darker-blue:#2e5caf;
  --darkest-blue:#054bb4;
  --light-blue: #D4DFEE;
  --grey: #5d6169;
  --light-grey: #F2F2F2;
  --white: #FEFDF9;
  --green: #A3C9A8;
  --yellow: #ffe9b1;
  --purple: #8C6A9F;
  --red: #E07A5F;
  --orange:#F4A261;
  --black: #121212;
  --lilac: #e3c6f1; 
  --beige: #fce5cd;
  --mint: #bfe1d2;
  --pink: #f7d9e3;

  --padding-sides: 1rem;
  --padding-sections: 3rem 1.3rem;
  --max-width: 1200px;
}



body {
  margin: 0px;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
}

h1 {
  font-size: 2.4em;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.max-width {
  max-width: var(--max-width);
  margin: auto
}

/* ko-fi icon */
.fa-ko-fi::before {
  content: "\f0f4";
  display: inline-block;
  font-size: 1.1em;
  line-height: 0.55em;
  margin: -0.45em 0 -0.1rem -0.1em;
  overflow-y: hidden;
  padding-top: 0.45em;
}
.fa-ko-fi::after {
  color: var(--white);
  content: "\f004";
  font-size: 50%;
  font-weight: 900;
  margin: 0.5em 0 0 -2em;
  position: absolute;
}


.action_hover a {
  text-decoration: none;
  color: var(--black);
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
  padding-bottom: 4px;
}

.action_hover a:hover {
  color: inherit;
  border-bottom: 2px solid var(--black);
}

.action_hover a i {
  transition: transform 0.3s ease-in-out;
}

.action_hover a:hover i {
  transform: translateX(5px);
  color: var(--orange)
}

.action_hover .fa-arrow-right {
  color: var(--main-blue);
  margin-left: 5px;
}

@media (min-width: 768px) {
  :root {
    --padding-sides: 2rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --padding-sides: 4rem;
  }
}