.player__container{
    padding: var(--padding-sections);
    padding-top: 0;
    padding-bottom: 0;
}
.player__content {
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
}

.videos__button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
}

.videos__button-more{
font-size: 0.8rem;
margin-right: 8px;
color: var(--black) !important ;
}

.videos__button:hover {
    background-color: var(--light-blue);
    text-decoration: underline;

}

@media (min-width: 768px) {
    .videos__button {
        display: none;
    }
}
