.notFound__container {
    padding: var(--padding-sections);
    padding-top: 0px;
    height: 94vh;
}

.notFount__404 {
    font-size: 6rem;
    font-weight: bold;
}

.notFount__content {
    text-align: center;
    /* border: 1px solid red; */
}

.notFound__image {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    align-self: flex-end;

    /* border: 1px solid red; */
}


.notFount__button {
    background-color: var(--main-blue) !important;
    border: none !important;
    width: 45%;
    min-width: 120px
    /* margin-bottom: 0; */
}
.notFount__button:hover {
    background-color: var(--main-blue);
    filter: brightness(120%);
    transition: filter 0.3s ease-in-out;
    /* color: var(--black); */
    /* border: none; */
}
.notFount__text {
    margin-bottom: 1rem;
}
.notFount__text p {
    margin: 5px;
}